[package]
authors = ["jD91mZM2 <me@krake.one>"]
edition = "2018"
name = "nix-lsp"
version = "0.1.0"
[dependencies]
failure = "0.1.5"
rnix = "0.5.1"
rowan = "0.3.2"
serde = "1.0.85"
serde_derive = "1.0.85"
serde_json = "1.0.37"
url = "1.7.2"
